<!DOCTYPE html>
<html>
  <head>
    <title>ActiveTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'active_tracker/active_tracker', media: 'all' %>
    <%= javascript_include_tag 'active_tracker/active_tracker' %>
  </head>

  <body class="bg-gray-300 p-3 pb-10">
    <div class="container mx-auto">
      <header class="border-b-2 border-gray-400 flex justify-between w-full pb-3 items-center">
        <div class="">
          <%= link_to image_tag("active_tracker/logo.svg"), ActiveTracker::Configuration.root_path %>
        </div>
        <div class="text-right">
          <% if ActiveTracker.connection_offline? %>
            <div class="text-red-700 inline-block flex flex-0 align-middle">
              <div class="w-6 h-6 mr-2">
                <svg aria-hidden="true" class="fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M569.517 440.013C587.975 472.007 564.806 512 527.94 512H48.054c-36.937 0-59.999-40.055-41.577-71.987L246.423 23.985c18.467-32.009 64.72-31.951 83.154 0l239.94 416.028zM288 354c-25.405 0-46 20.595-46 46s20.595 46 46 46 46-20.595 46-46-20.595-46-46-46zm-43.673-165.346l7.418 136c.347 6.364 5.609 11.346 11.982 11.346h48.546c6.373 0 11.635-4.982 11.982-11.346l7.418-136c.375-6.874-5.098-12.654-11.982-12.654h-63.383c-6.884 0-12.356 5.78-11.981 12.654z"/></svg>
              </div>
              <span>Redis Offline</span>
            </div>
            <% end %>
        </div>
      </header>

      <div class="mt-5 flex">
        <nav class='w-48 mt-1 mr-8'>
          <% ActiveTracker::Configuration.plugins.each do |plugin| %>
            <%= render "active_tracker/common/plugin_nav", plugin: plugin %>
          <% end -%>
        </nav>
        <article class="flex-1 min-w-0">
          <%= yield %>
        </article>
      </div>
    </div>

    <div class="container mx-auto text-sm text-gray-600 text-center mt-6 pt-3 border-t-2 border-gray-400">
      ActionTracker is an <%= link_to "open-source project", "https://github.com/civo/activetracker", class:"text-blue-600" %> from <%= link_to "Civo", "https://www.civo.com", class:"text-blue-600" %>.<br />Released under the MIT licence, but copyright &copy; 2019 Civo Ltd and the ActionTracker contributors.
    </div>
  </body>
</html>
