<% @statistics.each do |row| %>
  <h2 class="text-xl text-blue-900 flex items-center "><%= row.first[:plugin].nav_svg %> <span class="ml-2"><%= row.first[:plugin].nav_title %></span></h2>
  <div class="flex -mx-2 mt-2 flex-wrap mb-10">
    <% row.each do |statistic| %>
      <% if statistic[:error] %>
        <div class="w-1/4 rounded-lg shadow-lg bg-red-500 text-red-100 py-2 px-4 m-2">
          <div class="text-5xl"><%= statistic[:value] %></div>
          <div class="text-sm text-red-300"><%= statistic[:label] %></div>
        </div>
      <% else %>
        <div class="w-1/4 rounded-lg shadow-lg bg-green-500 text-green-100 py-2 px-4 m-2">
          <div class="text-5xl"><%= statistic[:value] %></div>
          <div class="text-sm text-green-300"><%= statistic[:label] %></div>
        </div>
      <% end %>
    <% end -%>
  </div>
<% end -%>
