<div class="flex w-full justify-between items-center">
  <h1 class="text-xl text-blue-900 flex-1">Query</h1>
</div>

<div class="flex flex-grow mt-10 items-center">
  <div class="rounded-lg bg-white text-sm text-gray-600 flex-1">
    <div class="flex flex-grow items-center">
      <div class="bg-gray-200 text-gray-600 uppercase w-32 p-4">SQL</div>
      <div class="pl-4 font-mono"><%= @query.tags[:sql] %></div>
    </div>
    <div class="flex flex-grow items-center">
      <div class="bg-gray-200 text-gray-600 uppercase w-32 p-4">Name</div>
      <% if @query.tags[:name].present? %>
        <div class="ml-4 block bg-gray-200 text-gray-900 py-1 px-2 text-xs rounded no-wrap mt-1 inline-block"><%= @query.tags[:name] %></div>
      <% end %>
    </div>
    <div class="flex flex-grow items-center">
      <div class="bg-gray-200 text-gray-600 uppercase w-32 p-4">Count</div>
      <div class="pl-4"><%= @query.count %></div>
    </div>
    <div class="flex flex-grow items-center">
      <div class="bg-gray-200 text-gray-600 uppercase w-32 p-4">Duration</div>
      <div class="pl-4"><%= "%.1f" % @query.last_duration %>ms</div>
    </div>
  </div>
</div>

<div class="bg-white shadow mt-4 rounded-b-lg" style="">
  <div class="bg-gray-200 text-gray-600 uppercase tracking-tight leading-none py-2 px-4 flex flex-grow">
    <div class="w-24">Method</div>
    <div class="flex-1">Path</div>
    <div class="w-24">Response</div>
    <div class="w-32 text-right">Time</div>
  </div>

  <% @requests.each do |request| %>
    <%= render "active_tracker/requests/request", request: request %>
  <% end -%>
</div>
